<!-- Static assets -->
{% load static %}
    <script src="{% static 'dashboard/js/core/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/js/core/popper.min.js' %}"></script>
    <script src="{% static 'dashboard/js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins/chartjs.min.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins/bootstrap-notify.js' %}"></script>

