
    {% load static %}
    <div id="sideBar" class="sidebar sidebar-tight" style="display: none">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a target="_blank" href="#" class="simple-text logo-normal text-center">Сервисы</a>
        </div>
        {% if user.is_authenticated %}
        <ul class="nav">
            <li class="">
                <a href="{% url 'dashboard'%}">
                    <img class="picMenu ml-2 mr-3" src="{% static 'dashboard/img/1x/ic_dashboard_48px.png' %}">DashBoard
                </a>
            </li>
            <li>
                <a href="{% url 'extOmniComm'%}">
                    <img class="picMenu ml-2 mr-3" src="{% static 'dashboard/img/omniComm.png' %}">OmniComm
                </a>
            </li>
            <li>
                <a href="{% url 'extWialon'%}">
                    <img class="picMenu ml-2 mr-3" src="{% static 'dashboard/img/wialon.ico' %}">Wialon
                </a>
            </li>
            <li>
                <a href="{% url 'safeDrive'%}">
                <img class="picMenu ml-2 mr-3" src="{% static 'dashboard/img/1x/ic_drive_eta_48px.png' %}">Save Drive
                </a>
            </li>
            FIXME img
            <li>
                <a href="{% url 'userPage' %}">
                    <i class="tim-icons icon-single-02"></i>
                    <p>User Profile</p>
                </a>
            </li>

            <li>
                <a href="{% url 'logout' %}" >
                    <i class="tim-icons icon-user-run"></i>
                <p>Logout</p>
                </a>
                {% endif %}
          </li>
        </ul>
        </div>
    </div>
