<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testPage</title>
    {% load static %}
    <link rel="stylesheet" href= "{% static 'css/../static/bootstrap_4_4/bootstrap.min.css' %}"
          type="text/css">
    <link rel="stylesheet" href= "{% static 'css/wappercss.css' %}"
          type="text/css">
    <script src="{% static 'js/../static/bootstrap_4_4/js/bootstrap.min.js' %}"></script>


</head>

<body>
    <header>
        <div id="navibar" class="navibar">
            <div id="buttom_place_main">
                <button onclick=""> Button 1 </button>
                <button class="btn-dark" onclick=""> Button 2 </button>
                <button class="btn-light" onclick=""> Button 3 </button>
                <button class="btn" onclick="">  4 </button>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <label> Omnikomm Chernozemya </label>
    </footer>
    <script src="{% static 'js/wapperscript.js' %}"></script>
</body>
</html>