
<div class="text-center">
    <title>Авторизация в ЛК</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    <!-- Bootstrap core CSS -->
    {% load static %}
    <link rel="stylesheet" href = "{% static 'css/../static/bootstrap_4_4/bootstrap.min.css' %}"
          type="text/css">
    <script src="{% static 'js/../static/bootstrap_4_4/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href = "{% static 'css/signin.css' %}" type="text/css">
    <form class="form-signin">
        {% csrf_token %}
        <!--img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>
        <label for="inputEmail" class="sr-only">Login</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Login" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        <p class="mt-5 mb-3 text-muted">© 2020</p-->
    </form>
</div>
