<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Корпоративный портал OmniPRO">
    <meta name="description" content="Корпоративный портал OmniPRO">
    <link rel="icon"  href="{% static 'favicon.svg' %}"/>
    <title>OmniPRO</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
            crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
            crossorigin="anonymous">
    </script>


    <link rel="stylesheet" href= "{% static 'bootstrap_4_4/css/bootstrap.min.css' %}"
          type="text/css">
    <script src="{% static 'bootstrap_4_4/js/bootstrap.min.js' %}"></script>

    {% block scriptAndStyles_before %} {% endblock %}

</head>
<header>
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
    <!--navi-->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal navbar-brand"><a href="/">OmniPRO</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{% url 'News' %}">Новости</a>
            <a class="p-2 text-dark" href="{% url 'joniAs' %}">Стать клиентом</a>
            <!--a class="p-2 text-dark" href="{% url 'dashboard-new' %}">DashBoard</a-->
            <a class="p-2 text-dark" href="#">Support</a>
        </nav>
        <a id="Enter" class="btn btn-outline-primary" href="{% url 'dashboard' %}">Войти</a>
        {% if user.is_authenticated %}
            <style>
            #Enter{
                display: none;
            }

            </style>
            <a class="btn btn-outline-primary" href="{% url 'dashboard-new' %}">Баланс: -2000.00 рублей</a>
            <script>
                if (document.getElementById('Enter').innerText.indexOf('-') !== -1){
                    document.getElementById('Enter').style.color = 'red'
                }
            </script>
        {% endif %}
    </div>
</header>


<body>
    <main role="main" class="container">
        {% block content %}
        {% endblock %}

    </main>


<footer class="footer ">
    <div class="container-fluid" style="margin: 20px; position: fixed; bottom: 0;" >
        <div class="row">
            <div class="text-muted text-right" > &copy; Все права защищены 2020г.</div>

        </div>
    </div>
</footer>

    {% block scriptAndStyles_after %} {% endblock %}
</body>

</html>