<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Корпоративный портал OmniPRO">
    <meta name="description" content="Корпоративный портал OmniPRO">
    <link rel="icon" href="{% static 'favicon.svg' %}"/>
    <title>OmniPRO</title>
    <script src="{% static 'js/popper.min.js' %}"></script>
    {#screenshot#}
    <script src="{% static 'js/html2canvas.min.js' %}"></script>
    <script src="{% static 'js/FileSaver.js' %}"></script>
    {#    <!-- Old -->#}
    <script src="{% static 'js/old/Blob.js' %}"></script>
    <script src="{% static 'js/old/canvas-toBlob.js' %}"></script>
    <script src="{% static 'js/jq/jquery-3.5.1.min.js' %}"></script>


    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/localization/messages_ru.min.js"></script>#}

    {#    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>#}

    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
            crossorigin="anonymous">


    </script>


    <link rel="stylesheet" href="{% static 'bootstrap_4_4/css/bootstrap.min.css' %}"
          type="text/css">
    <script src="{% static 'bootstrap_4_4/js/bootstrap.min.js' %}"></script>

    {% block scriptAndStyles_before %} {% endblock %}

</head>
<header>
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
    <!--navi-->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal navbar-brand"><a href="/">OmniPRO</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{% url 'News' %}">Новости</a>
            <a class="p-2 text-dark" href="{% url 'joniAs' %}">Стать клиентом</a>
            {% if user.is_staff %}
            <a class="p-2 text-dark" href="/admin/">Admin</a>
            {% endif %}
            <a class="p-2 text-dark" data-toggle="modal"
               data-target=".bd-modal-lg-support">Support</a>
        </nav>
        <a id="Enter" class="btn btn-outline-primary" href="{% url 'dashboardClient' %}">Войти</a>
        {% if user.is_authenticated %}
            <style>
                #Enter {
                    display: none;
                }

            </style>
            <a id = "EnterIsAuth"class="btn btn-outline-primary" href="{% url 'dashboardClient' %}">Баланс: -2000.00 рублей</a>
            <script>
                if (document.getElementById('EnterIsAuth').innerText.indexOf('-') === 8) {
                    document.getElementById('EnterIsAuth').style.color = 'red'
                }
            </script>
        {% endif %}
    </div>
</header>


<body>
<main id="screenShotAria" role="main" class="container">
    {% block content %}
    {% endblock %}

</main>


    <footer class="footer ">
        <div class="container-fluid" style="margin: 20px; position: fixed; bottom: 0;">
            <div class="row">
                <div class="text-muted text-right"> &copy; Все права защищены 2020г.</div>
            </div>
        </div>
    </footer>

</body>
<style>

</style>

<div>
    <div id="SupportModal" class="modal-body form">
        {% csrf_token %}
        <div class="modal fade bd-modal-lg-support" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text titleFormItem" for="depsSelect">Тикет в отдел </label>
                            </div>
                            <select class="custom-select" id="depsSelect">
                                <option value="" disabled selected>Выберите отдел обращения</option>
                                <option value="S_techSupportDiv" class="deps">Тех поддержки</option>
                                <option value="S_AccDiv" class="deps">Бухгалтерии</option>
                                <option value="S_SaleDiv" disabled class="deps">Продаж</option>
                                <option value="S_Devs" class="deps">Devs</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="depsForm" id="S_techSupportDiv" style="display: none">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text titleFormItem" for="s_typeTicket">Тип
                                        запроса</label>
                                </div>
                                <select class="custom-select" id="s_typeTicket">
                                    <option selected disabled>Выбор...</option>
                                    <option value="stt1" title="Сливы топлива, поломка оборудования">Инцидент</option>
                                    <option value="stt2" title="Отсутствие данных в системе">Нет
                                        данных
                                    </option>
                                    <option value="stt3" title="Вопросы по работе в Web кабинетах">Инструктаж
                                        Web
                                    </option>
                                    <option value="stt4" title="Вопросы по работе в мобильных приложениях">Инструктаж
                                        Mobail
                                    </option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text titleFormItem" id="basic-addon1"
                                          title="Используется в отслеживании">Заголовок</span>
                                </div>
                                <input id="s_TitleTicket" type="text" class="form-control" placeholder="Заголовок"
                                       aria-label="Title"
                                       aria-describedby="basic-addon1">
                            </div>
                            <div class="form-group">
                                <label for="s_noteTicket">Опишите проблему</label>
                                <textarea id="s_noteTicket" class="form-control" rows="3"></textarea>
                            </div>
                            <div class="input-group" style="margin-bottom: 1rem;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text titleFormItem" id="">Контакты </span>
                                </div>
                                <input id="s_contactName" name="name" type="text" placeholder="ФИО"
                                       class="form-control required">
                                <input id="s_contactTel" name='phone' type="text" placeholder="Телефон"
                                       class="form-control required">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button id="getScreeShot" class="btn btn-outline-secondary titleFormItem"
                                            type="button">Снять текший экран
                                    </button>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile03">
                                    <label class="custom-file-label" for="inputGroupFile03">Выбрать файл</label>
                                </div>
                            </div>
                            <div id="ScreenShotPrevPlace" class="">

                            </div>
                        </div>
                    {#   <!-- Бухгалтерия -->#}
                        <div class="depsForm" id="S_AccDiv" style="display: none">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text titleFormItem" for="inputGroupSelect01">Тип
                                        запроса</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01">
                                    <option disabled selected>Выбор...</option>
                                    <option value="a1" title="Сливы топлива, поломка оборудования">Оплата</option>
                                    <option value="a2" title="Отсутствие данных в системе">Акты сверки</option>
                                    <option value="a3" title="Вопросы по работе в Web кабинетах">Перенос платежа
                                    </option>
                                    <option value="a4" title="Вопросы по работе в мобильных приложениях">Запрос
                                        документов
                                    </option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text titleFormItem" id="basic-addon1"
                                          title="Используется в отслеживании">Заголовок</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Заголовок" aria-label="Title"
                                       aria-describedby="basic-addon1">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Поянения</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="input-group" style="margin-bottom: 1rem;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text titleFormItem" id="">Контакты </span>
                                </div>
                                <input type="text" placeholder="ФИО" class="form-control">
                                <input type="text" placeholder="Телефон" class="form-control">
                            </div>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile03">
                                    <label class="custom-file-label" for="inputGroupFile03">Выбрать файл</label>
                                </div>
                            </div>
                        </div>
                    {#   <!-- Разрабочики -->#}
                        <div class="depsForm" id="S_Devs" style="display: none">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text titleFormItem" for="inputGroupSelect01">Тип
                                        запроса</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01">
                                    <option selected>Выбор...</option>
                                    <option value="1" title="Сливы топлива, поломка оборудования">Нашли ошибку</option>
                                    <option value="2" title="Отсутствие данных в системе">Идея для разработки</option>
                                    <option value="3" title="Вопросы по работе в Web кабинетах">Добавления функционала
                                    </option>
                                    <option value="4" title="Вопросы по работе в мобильных приложениях">Не стандартные
                                        отчеты
                                    </option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text titleFormItem" id="basic-addon1"
                                          title="Используется в отслеживании">Заголовок</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Заголовок" aria-label="Title"
                                       aria-describedby="basic-addon1">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Описание</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="input-group" style="margin-bottom: 1rem;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text titleFormItem" id="">Контакты </span>
                                </div>
                                <input id="d_contactName" type="text" placeholder="ФИО" class="form-control">
                                <input id="d_contactTel" type="text" placeholder="Телефон" class="form-control">
                            </div>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile03">
                                    <label class="custom-file-label" for="inputGroupFile03">Выбрать файл</label>
                                </div>
                            </div>
                        </div>
                    {#Chat#}
                        <div class="depsForm" id="Chat" style="display: none">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <label class="mr-auto">
                            <input id="isObserv" type="checkbox"> Следить за выполнением
                        </label>
                        <button id="openChatBtnFormSupport" type="button" class="btn btn-active " style="display: none">
                            Чат
                        </button>
                        <button id="closeBtnFormSupport" type="button" class="btn btn-secondary" data-dismiss="modal">
                            Закрыть
                        </button>
                        <button id="submitBtnFormSupport" type="button" class="btn btn-primary" form="SupportModal"
                                value="Submit">Отправить
                        </button>
                    </div>
                </div>
            </div>
        </div>



    <script about="SupportModal">
        let arrScreenShot = [];
        $('#openChatBtnFormSupport').on('click', function () {
            $('.depsForm').hide()

            $('#Chat').show()
        })
        $('select').on('change', function () {
            switch (this.value) {
                case 'S_techSupportDiv': {
                    $('.depsForm').hide()
                    $('#S_techSupportDiv').show()
                    $('#openChatBtnFormSupport').show()
                    break;
                }
                case 'S_AccDiv': {
                    $('.depsForm').hide()
                    $('#openChatBtnFormSupport').hide()
                    $('#S_AccDiv').show()
                    break;
                }
                case 'd3': {
                    $('#openChatBtnFormSupport').hide()
                    break;
                }
                case 'S_Devs': {
                    $('.depsForm').hide()
                    $('#openChatBtnFormSupport').hide()
                    $('#S_Devs').show()
                    break;
                }
            }

        });
        $(document).ready(function () {
            console.log(arrScreenShot.length);
            if (arrScreenShot.length > 4) {

            }
            $('#getScreeShot').click(function (e) {
                e.preventDefault();
                // в html2canvas передаем id контента
                html2canvas($('#screenShotAria')[0], {
                    scale: 1 // Дополнительные опции
                }).then(function (canvas) {
                    arrScreenShot.push(canvas.toDataURL());
                    let imgBase64 = canvas.toDataURL().toString();
                    {#console.log(imgBase64)#}
                    let img = $("<img class='screenShot'/>");
                    img.attr('src', imgBase64);
                    img.id = 'scr' + (arrScreenShot.length - 1)
                    img.css('display', 'inline-block');
                    img.css('margin', '1px');
                    let divImg = $("<div class='placeHolderScreenshot'></div>")

                    $(divImg).append(img)
                    let tmpSTR = $('<span class="badge badge-light ml-1" id="Scr-' + (arrScreenShot.length - 1) + '-CloseBtn">&times;</span>')
                    $(divImg).append(tmpSTR)
                    $('#ScreenShotPrevPlace').append(divImg)
                    if (arrScreenShot.length > 4) {
                        $('#getScreeShot').hide()
                    }
                    $(tmpSTR).on('click', function () {
                        {#console.log(this)#}
                        let i = 'Scr-0-CloseBtn'
                        delete arrScreenShot[i]
                        $(this).parent().remove()
                        if (arrScreenShot.length >= 5) {
                            $('#getScreeShot').show()
                        }
                    })
                    {#canvas.toBlob(function(blob) {#}
                    {#saveAs(blob, "screenshoot.png");#}
                    //});
                });
            });
        });
        $('#closeBtnFormSupport').on('click', function () {

        })
        $('#submitBtnFormSupport').on('click', function () {
            switch ($('#depsSelect').val()) {

                case 'S_techSupportDiv': {
                    {#$("#S_techSupportDiv").validate(); TODO доделать валидацию #}
                    let person = {
                        'fio': $('#s_contactName').val(),
                        'tel': $('#s_contactTel').val(),
                        'user': '',
                        'firm': '',
                        'userTel': ''
                    };
                    let pack = {
                        {#^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$#}
                        'dep': 'Support',
                        'type': $('#s_typeTicket option:selected').text(),
                        'title': $('#s_TitleTicket').val(),
                        'note': $('#s_noteTicket').val(),
                        'person': JSON.stringify(person),
                        'src': JSON.stringify(arrScreenShot),
                        'time': new Date().toLocaleString(),
                        'isObserv': $('#isObserv').val(),
                    }
                    {#JSON.stringify(pack)#}
                    {#console.log(pack);#}
                    $.post('{% url 'sendMail' %}', JSON.stringify(pack)).then(res => console.log(res))
                    {#$.ajax({#}
                    {#    type: "POST",#}
                    {#    url: '{% url 'sendMail' %}',#}
                    {#    data: JSON.stringify(pack),#}
                    {#    success: function (data, textStatus, jqXHR) {#}
                    {#        alert('DONE')#}
                    {#    },#}
                    {#    dataType: 'text',#}
                    {#    async: true,#}
                    {#    error: function (num) {#}
                    {#        alert("эБеда");#}
                    {#    },#}
                    {#    timeout:5000#}
                    //{#});
                    //#}
                    break;
                }
                case
                'S_AccDiv'
                : {
                    break;
                }
                case
                'S_SaleDiv'
                : {
                    break;
                }
                case
                'S_Devs'
                : {
                    break;
                }
                default: {
                    alert("Перед отправкой необходимо заполнить все поля формы")

                    break;
                }
            }

        })
    </script>
    <style about="StyleModal">
        .titleFormItem {
            min-width: 180px;
        }

        .placeHolderScreenshot {
            position: relative;
            width: 150px;
            height: 150px;
            border: 1px solid darkcyan;
            border-radius: 8px;
            display: inline-block;
            margin: 1px;
        }

        .placeHolderScreenshot img {
            position: absolute;
            width: 140px;
            height: 140px;
            bottom: 0;
            left: 0;
        }

        .placeHolderScreenshot span {
            position: absolute;
            right: 2px;
            top: 2px;
            background-color: aliceblue;
            color: red;
        }
    </style>
    </div>

    <!-- Modal Error -->
    <div class="modal fade" id="ErrorModal" tabindex="-1" role="dialog"
         aria-labelledby="TitleModalError" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TitleModalError">Modal title</h5>
                </div>
                <div class="modal-body">
                    <div class="">
                        <img id="imgModalError" src="{% static 'img/modalError/error.png' %}"
                             class="d-inline-block mr-2">
                        <div class="d-inline-block mr-3">
                            <h2 id="inTextTitleModalError">
                                Ошибка
                            </h2>
                            <p id="DescriptionModalError">
                                Описание ошибки
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger mr-auto ml-auto" data-dismiss="modal"
                            style="min-width: 35%">OK
                    </button>
                </div>
            </div>
        </div>
        <style>
            #imgModalError {
                max-width: 75px;
                max-height: 75px;
                vertical-align: top;
            }
        </style>
        <script>
            //$('#ErrorModal').shwWin =
            function sw(type, title, discript, action = null) {
                {% load static%}
                let imgError = '{% static 'img/modalError/error.png' %}';
                let imgInform = '{% static 'img/modalError/inform.png' %}';
                let imgWarning = '{% static 'img/modalError/warning.png' %}';
                $('#inTextTitleModalError').text(title);
                $('#DescriptionModalError').text(discript);
                switch (type) {
                    case 'error': {
                        $('#imgModalError').attr('src', imgError);
                        $('#TitleModalError').text('Ошибка');
                        break;
                    }
                    case 'inform': {
                        $('#imgModalError').attr('src', imgInform);
                        $('#TitleModalError').text('Информация');
                        break;
                    }
                    case 'warning': {
                        $('#imgModalError').attr('src', imgWarning);
                        $('#TitleModalError').text('Внимание');
                        break;
                    }
                }
                $('#ErrorModal').modal();
            }
        </script>

    </div>


</div>
</html>