<!DOCTYPE html>
<html lang="ru">

<!-- Static assets -->
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'dashboard/img/apple-icon.png' %}">
  <link rel="icon" type="image/png"          href="{% static 'dashboard/img/favicon.png' %}">

  <title>
    OmniPRO Dashboard - {% block title %}{% endblock %} | SH INC
  </title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="{% static 'dashboard/css/nucleo-icons.css' %}" rel="stylesheet" />

  <link href="{% static 'dashboard/css/black-dashboard.css' %}" rel="stylesheet" />

  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="">
  <div class="wrapper">

    {% include 'dashboard/includes/sidebar.html' %}

    <div class="main-panel">

      {% include 'dashboard/includes/navigation.html' %}

      <div class="content">

        {% block content %}{% endblock content %}

      </div>

      {% include 'dashboard/includes/footer.html' %}

    </div>
    
  </div>

  {% include 'dashboard/includes/fixed-plugin.html' %}

  {% include 'dashboard/includes/scripts.html' %}

  {% include 'dashboard/includes/scripts-sidebar.html' %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}

</body>

</html>