{% extends 'dashboard/base-withoutSideBar.html' %}

{% block title %} Save Drive{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row container-fluid">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body container-fluid ">
                    <a href="#">Настройки</a>
                    <table class="table table-striped table-responsive table-sm" style="width: 100%">
                        <thead class="text-primary" style="width: 100%">
                        <tr class="text-center">
                            <th rowspan="2">#</th>
                            <th rowspan="2">Регистрация</th>
                            <th rowspan="2">Тип</th>
                            <th rowspan="2">Гаражный номер</th>
                            <th colspan="3">Параметры движения</th>
                            <th colspan="6">Нарущения правил</th>
                            <th colspan="4">Состоявляющие качества вождения</th>
                            <th rowspan="2">Взвешенная</th>
                        </tr>
                                    <tr class="text-center">
                                        <td class="subHeadTable">Пробег</td>
                                        <td class="subHeadTable">T в движении</td>
                                        <td class="subHeadTable">Max скорость</td>
                                        <td class="subHeadTable">Привышение</td>
                                        <td class="subHeadTable">T c привышением</td>
                                        <td class="subHeadTable">Ускорение</td>
                                        <td class="subHeadTable">Торможение</td>
                                        <td class="subHeadTable">Повороты</td>
                                        <td class="subHeadTable">Повороты`</td>
                                        <td class="subHeadTable">Бал Торможения</td>
                                        <td class="subHeadTable">Ускорения</td>
                                        <td class="subHeadTable">Повороты</td>
                                        <td class="subHeadTable">Повороты`</td>
                                    </tr>
                                    <tr class="indexColumn text-center">
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                        <td>8</td>
                                        <td>9</td>
                                        <td>10</td>
                                        <td>11</td>
                                        <td>12</td>
                                        <td>13</td>
                                        <td>14</td>
                                        <td>15</td>
                                        <td>16</td>
                                        <td>17</td>
                                        <td>18</td>
                                    </tr>


                                </thead>
                                <tbody style="width: 100%">
                                    <tr class="text-center">
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                        <td>8</td>
                                        <td>9</td>
                                        <td>10</td>
                                        <td>11</td>
                                        <td>12</td>
                                        <td>13</td>
                                        <td>14</td>
                                        <td>15</td>
                                        <td>16</td>
                                        <td>17</td>
                                        <td>18</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>

    </div>

    <style>
        ::-webkit-scrollbar {
            width: 10px;
        }
        ::-webkit-scrollbar-thumb {
            background-image: linear-gradient(to bottom, #8290AD85, #68769385);
            box-shadow: 4px 0 13px 0 rgba(53, 147, 238, 0.43);
        }
        ::-webkit-scrollbar-track {
            {#background: rgba(255, 255, 255, 0.1);#}
        }
        ::-webkit-scrollbar-track:hover {
            background: rgba(255, 255, 255, 0.15);
        }
        ::-webkit-scrollbar-corner{
            display: none;
             {#background: rgba(255, 255, 255, 0.15);#}
        }
    .subHeadTable{
        color: rgba(255, 255, 255, 0.7) ;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;

    }
    .indexColumn{
        padding: 0;
        margin: 0;
        text-align: center;
        color: rgba(255, 255, 255, 0.5) ;
    }


    </style>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
